@import "tailwindcss";

/* Optional: custom fade keyframes */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.animate-fadeIn {
  animation: fadeIn 0.9s ease-in-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.9s ease-in-out forwards;
}


@keyframes customFadeIn {
  from { opacity: 1; }
  to { opacity: 1; }
}

@keyframes customFadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
/* Unique animation classes */
.custom-fade-in {
  animation: customFadeIn 0.9s ease-in-out forwards;
}

.custom-fade-out {
  animation: customFadeOut 0.9s ease-in-out forwards;
}

@keyframes clockZoomIn {
  from {
    transform: scale(1.05);
    opacity: 0.6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.clock-zoom-in {
  animation: clockZoomIn 1s ease-in-out forwards;
}


/* index.css or global CSS */
.bg-scale {
  transition: transform 1s ease-in-out;
}

.scale-default {
  transform: scale(1);
}

.scale-zoom {
  transform: scale(1.09); /* zoomed in scale */
}



/* Smooth transitions for all elements */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}


/* Focus styles */
.focus-ring:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px #ef4444;
}

